.answer-container .form-control{
	border:  none;
	border-radius: 0;
	border-bottom: 0.1rem solid #808080;
	outline: 0;
	background: transparent;
	padding: 1.2rem;
	font-size: 1.2rem;
	margin-top: 0.5rem;
}

.answer-container .form-control:focus{
	box-shadow: none;
	border-bottom: 0.1rem solid rgba(0, 123, 255, 1);
	outline: 0;
}

.answer-controlls button {
	margin-top: 0.5rem;
	border: none;
	border-bottom: 0.1rem solid #808080;
	border-radius: 0;
}

.answer-controlls button:disabled {
	border-bottom: 0.1rem solid rgba(128, 128, 128, 1);
  color: rgba(108, 117, 125, .65);
  background: transparent;
  opacity: 1;
}

.answer-controlls button:hover {
	border-radius: 0;
}